<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355084584283-quq9g247jkgpect91e52i0ofqmsqocr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355084584283-quq9g247jkgpect91e52i0ofqmsqocr7</string>
	<key>API_KEY</key>
	<string>AIzaSyDAu8M1A9SrA9CZEejkty5k3z4Ke-yW4TY</string>
	<key>GCM_SENDER_ID</key>
	<string>355084584283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidlonsdale.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-2f985</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-2f985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355084584283:ios:1deb9365b55242663a867e</string>
</dict>
</plist>